<!DOCTYPE html>
<html lang="en" ng-app="PerficientCCPApp">
<div hidden id="defaultCCPContainerDiv">
</div>
<head>
    <meta charset="UTF-8">
    <title>Perficient CCP</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/flags.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/vendor/bootstrap.min.css">
    <script src="/static/js/amazon-connect-streams/amazon-connect-v1.2.0-26-g978b2a4.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/PerficientCCPApp.js"></script>
    <script src="/static/js/controllers/OutboundPhoneNumberHolder.js"></script>
    <script src="/static/js/controllers/CountryCodesHolder.js"></script>
    <script src="/static/js/amazon-connect-default-ccp/DefaultCCPInit.js"></script>
    <script src="/static/js/controllers/DialPadController.js"></script>
    <script src="/static/js/controllers/CallController.js"></script>
    <script src="/static/js/controllers/AgentStateController.js"></script>
    <script src="/static/js/controllers/AgentCCPUtilsController.js"></script>
    <script src="/static/js/controllers/CCPContainerController.js"></script>
    <script src="/static/js/controllers/QuickConnectsController.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

    <div id="ccpAppContainerDiv" ng-controller="CCPContainerController">
      <div ng-controller="CallController">
        <div id="topMenuDiv">
            <div
                class="container topMenuContainer">
                <div
                    onclick="window.location.href ='#/';"
                    id="home_button">
                    <img
                        id="amazon-connect-logo"
                        src="/static/images/amazon-connect-logo.svg" />
                </div>
                <div
                    onclick="window.location.href = '#/change-status'"
                    id="change_status_button">
                        Change&nbsp;status
                </div>
                <div
                    onclick="window.location.href ='#/settings';"
                    id="settings_button">
                    <i class="fas fa-cog"></i>
                </div>
            </div>
        </div>

        <div ng-view >
        </div>

        <!-- TODO: Data to expose for third party connections
            -

        -->

        <div  class="callController">
            <div class="stateContainer">
                <!-- Customer -->
                <div
                    class="statePanel container"
                    ng-class="{'grey-bg': agentState === 'After Call Work' || agentState === 'Offline', 'yellow-bg': connectedThirdParty, 'green-bg': agentState === 'Connected', 'halfLength': connectedThirdParty}">
                    <div id="stateHeaderDiv" class="stateLabel pt-2">
                            INTERPOLATE_OPEN[customerCallStatus]INTERPOLATE_CLOSE
                    </div>
                    <div class="callInfo" ng-show="callConnecting || callConnected">
                      <div class="leftCallInfo">
                          <div ng-hide="connectedThirdParty">
                              With
                          </div>
                          <div>
                              <text ng-model="OutboundPhoneNumberHolder.value">
                                  INTERPOLATE_OPEN[customerPhoneNumber]INTERPOLATE_CLOSE
                              </text>
                          </div>
                      </div>
                      <div class="rightCallInfo">
                          <div ng-hide="connectedThirdParty">
                              Time elapsed
                          </div>
                          <div>
                              0:00:00
                          </div>
                      </div>

                      <div style="position: relative; top: 50px;" ng-show="connectedThirdParty" id="thirdPartyCallerInfoDiv">
                          3rd party phone number: INTERPOLATE_OPEN[thirdPartyPhoneNumber]INTERPOLATE_CLOSE
                      </div>
                    </div>
                </div>
                <!-- Third party -->
                <div
                    ng-show="connectedThirdParty"
                    class="statePanel container"
                    ng-class="{'yellow-bg': isOnHold, 'green-bg': agentState === 'Connected', 'halfLength': connectedThirdParty}">
                    <div id="stateHeaderDiv" class="stateLabel pt-2">
                            INTERPOLATE_OPEN[customerCallStatus]INTERPOLATE_CLOSE
                    </div>
                    <div class="callInfo" ng-show="callConnecting || callConnected">
                      <div class="leftCallInfo">
                          <div ng-hide="connectedThirdParty">
                              With
                          </div>
                          <div>
                              <text ng-model="OutboundPhoneNumberHolder.value">
                                  INTERPOLATE_OPEN[customerPhoneNumber]INTERPOLATE_CLOSE
                              </text>
                          </div>
                      </div>
                      <div class="rightCallInfo">
                          <div ng-hide="connectedThirdParty">
                              Time elapsed
                          </div>
                          <div>
                              0:00:00
                          </div>
                      </div>

                      <div style="position: relative; top: 50px;" ng-show="connectedThirdParty" id="thirdPartyCallerInfoDiv">
                          3rd party phone number: INTERPOLATE_OPEN[thirdPartyPhoneNumber]INTERPOLATE_CLOSE
                      </div>
                    </div>
                </div>

                <div ng-show="callConnected" class="callControlContainer">
                    <div class="container filler">
                      <div class="inCallButtons">
                        <button ng-show="connectedThirdParty && !isAllHold()" class="btn btn-outline-secondary" ng-click="emitJoinCalls()">Join</button>
                        <button ng-show="connectedThirdParty" class="btn btn-outline-secondary" ng-click="emitSwapActiveCalls()">Swap</button>
                          <button ng-show="isAllHold() && connectedThirdParty" class="btn btn-outline-secondary" ng-click="threeWayHoldImpl(false)">Hold 3rd party</button>
                          <button ng-show="isAllHold() && connectedThirdParty" class="btn btn-outline-secondary" ng-click="holdCustomerCall()">Hold customer</button>
                          <button ng-hide="connectedThirdParty" class="btn btn-outline-secondary" ng-click="emitHoldOrResumeCall()">
                              INTERPOLATE_OPEN[holdCustomerButtonActionLabel]INTERPOLATE_CLOSE</button>
                          <!-- TODO: This is a place holder for mute -->
                          <button class="btn btn-outline-secondary" ng-click="emitMuteOrUnmute()">
                            INTERPOLATE_OPEN[muteButtonActionLabel]INTERPOLATE_CLOSE</button>
                          <button ng-hide="connectedThirdParty" class="btn btn-outline-secondary" onclick="window.location.href='#/dial-pad';">Dial number</button>
                          <button ng-hide="connectedThirdParty" class="btn btn-outline-secondary" onclick="window.location.href='#/quick-connects';">Transfer</button>
                          <button ng-show="connectedThirdParty" class="btn btn-outline-secondary" ng-click="emitAllHoldOrAllResume()">INTERPOLATE_OPEN[holdAllButtonActionLabel]INTERPOLATE_CLOSE</button>
                          <button ng-show="connectedThirdParty" class="btn btn-outline-secondary" ng-click="hangUpThirdParty()">hang up 3rd party</button>

                      </div>
                    </div>
                </div>

INTERPOLATE_OPEN[thirdPartyPhoneNumber]INTERPOLATE_CLOSE
                <div class="bottomButtons container buttonPanel">
                    <!-- Dial button -->
                    <button
                        type="button"
                        id="dial_pad_button"
                        class="btn btn-primary"
                        onclick="window.location.href='#/dial-pad';"
                        ng-show="!callConnecting && !callIsInbound && !callConnected">
                        Dial number
                    </button>
                    <!-- Quick Connects button -->
                    <button
                        class="btn btn-primary"
                        id="quick_connects_button"
                        onclick="window.location.href='#/quick-connects';"
                        ng-show="!callConnecting && !callIsInbound && !callConnected">
                        Quick connects
                    </button>
                    <!-- End call button -->
                    <button
                        ng-show="(callConnecting || callConnected) && !callIsInbound"
                        type="button"
                        id="dial_pad_button"
                        class="btn btn-danger btn-block"
                        ng-click="emitEndCall()">
                        End Call
                    </button>

                    <!-- Set to available-->
                    <button
                        ng-show="agentState === 'After Call Work' || agentState === 'Offline'"
                        type="button"
                        id="dial_pad_button"
                        class="btn btn-primary btn-block"
                        ng-click="setAgentAvailableOnFrontPage()">
                        Set to Available
                    </button>

                    <button
                        ng-show="callIsInbound"
                        class="btn btn-success"
                        ng-click="emitAnswerCall()">
                        Accept Call
                    </button>
                    <button
                        ng-show="callIsInbound"
                        class="btn btn-danger"
                        ng-click="emitEndCall()">
                      Reject Call
                    </button>
              </div>
            </div>
        </div>
    </div>
  </div>
</body>
</html>
