<div class="action_panel">
    <div>
        <h1 class="action_panel_header">Set language</h1>
        <button onclick="window.location.href ='#/';" class="exit_button">x</button>
    </div>

    <div id="languageListDiv">
        <ul style="list-style: none; height: 350px; width: 75%; overflow: hidden; overflow-y: scroll" id="languageList">
            <!-- TODO: configure +list of languages and provide other languages for CCP text with ngRepeat -->
            <br><li class="language_option" style="">English</li><br>
            <br><li class="language_option" style="">Spanish</li><br>
            <br><li class="language_option" style="">French</li><br>
            <br><li class="language_option" style="">Italian</li><br>
            <br><li class="language_option" style="">German</li><br>
            <br><li class="language_option" style="">Mandarin</li><br>
            <br><li class="language_option" style="">Japanese</li><br>
            <br><li class="language_option" style="">Korean</li><br>
            <br><li class="language_option" style="">Russian</li><br>
            <br><li class="language_option" style="">Portuguese</li><br>
            <br><li class="language_option" style="">Hindi</li><br>
            <br><li class="language_option" style="">Arabic</li><br>
        </ul>
    </div>

</div>